<!DOCYTPE html>
<html>
<header>
<h1 align="center">S-CUBE-N Bankers</h1>
</header>
<body>
  <h3 align="center"> Your one-stop solution for all banking, investments and insurance! </h3>
  <br>

  <% flash.each do |message_type, message| %>
    <div><%= message %></div>
  <% end %>


  <div>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email%>
<br>
      <%= f.label :password %>
      <%= f.password_field :password%>
<br><br>
      <%= f.submit "Log me in"%>
    <% end %>

<br>
    <p>Are you a new user? <%= link_to "Sign up now!", signup_path %></p>

  </div>
</body>
</html>
