<h2>User Sign Up</h2>

<% if @user.errors.any? %>
  <div">
    <div>
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
    <%= form_for(@user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
<br/>
      <%= f.label :email %>
      <%= f.email_field :email %>
<br/>
	  <%= f.label :password %>
      <%= f.password_field :password %>
<br/>
     <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
<br/>
      <%= f.submit "Create my account"%>
    <% end %>
  </div>
  