<% if logged_in? %>

  <strong>Hi, <%= @user.name.capitalize %> </strong>

  <h4>S-CUBE-N Corp. offers you the following range of services </h4>
  <%= link_to "Banking", '#' %>
  <br/>
  <%= link_to "Make Investments", '#' %>
  <br/>
  <%= link_to "Buy Insurance", '#' %>
  <br/>
  <br/>
  <br/>
  <br/>
	<%= link_to "Log out", logout_path, method: :delete %>
<% else %>
	<%= link_to "Log In", login_path %>
<% end %>
