<!DOCYTPE html>
<html>
<header>
<h1 align="center">SCUBEN Bankers</h1>
</header>
<body>

<p> If you are a first-time user, sign up to get started...
<%= link_to "Sign Up", signup_path %>
</p>

<p> If you are already our customer, please log in....
<%= link_to "Log In", login_path %>
</p>

</body>
</html>